.profile-container {
  .profile-picture {
    background-image: url('/images/lizard.png');
    // border-radius: 45px;
    height: 125px;
    width: 125px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border: 1px solid $main-color;
    background-position: center;
    margin-bottom: 15px;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 99vh;
  align-items: center;
}
