@media (min-width: 320px) and (max-width: 480px) {
  .welcome-hero .primary-intro {
    width: auto;
  }

.ws-1 .ws-1-choice {
  margin: 40px 20px;
}
  .ws-1 {
    display: block;
  }
  .quick-link-section {
    width: 360px;
  }

  .divider {
    position: unset;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .divider {
    position: unset;
  }
}
