.register-body {
  background-color: $main-color;
}

.register-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  color: #fff;
  font-weight: 900;

  a {
    color: white;
    text-decoration:  none;
  }
}
